footer {
  background-image: url("/images/seamless_footer.jpg");
  width: 100%;
  min-height: 19.5vh;
}

.supporters {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-evenly;
  align-items: baseline;
}


.img {
  min-width: 120px;
  min-height: 120px;
  flex-grow: 4;
  flex-basis: 5rem;
  padding-left: 32px;
  padding-right: 32px;
  align-content: center;
}

.tudelft {
  width: 240px;
}



h3 {
  color: white;
  text-align: center;
  padding-top:5px;
}
