:host {
  display: block;
  box-sizing: border-box;
}

section {
  padding: 1.5rem;
  background: var(--app-section-odd-color);

  > * {
  width: 80%;
    margin-right: auto;
    margin-left: auto;
  }

  &:nth-of-type(even) {
    background: var(--app-section-even-color);
  }
}

p a {
  color: rgb(247, 148, 29);
  font-weight: bold;
  text-decoration: none;
  &:hover {
    text-decoration: underline;
  }
}

li a {
  color: rgb(247, 148, 29);
  font-weight: bold;
  text-decoration: none;
  &:hover {
    text-decoration: underline;
  }
}

